<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create or edit user</title>
</head>
<body>
<div th:fragment="details">
    <div>
        <div class="mb-3">
            username: <input th:field="${userModel.username}" class="form-control">
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>
        </div>
        <div class="mb-3">
            password: <input type="password" th:field="*{password}" class="form-control">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
        </div>

        <div class="dropdown">
<!--            <select name="roles" id="roles">-->
<!--            <select>-->
<!--                <option value="ADMIN">ADMIN</option>-->
<!--                <option value="USER">USER</option>-->
<!--                <option value="GUEST">GUEST</option>-->
<!--            </select>-->
        </div>

        <div>
<!--            <select th:field="*{selectedRole}">-->
            <select name="roleId">
                <option th:each="role : ${roles}"
                        th:value="${role.id}"
                        th:text="${role.name}">Unknown</option>
            </select>
        </div>

        <div th:if="${read}" class="mb-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <div th:unless="${read}" class="mb-3">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>
</div>
</body>
</html>