<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Apartment details</title>
</head>
<body>
<h1>Apartment <span th:text="*{id}">id</span> details</h1>
<div>
    <table>
        <thead>
        <tr>
            <th> Name </th>
            <th> Price </th>
            <th> Update </th>
            <th> Delete </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span th:text="${apartment.name}"> Name </span></td>
            <td><span th:text="${apartment.price}"> Price </span></td>
            <td><a th:href="@{/apartments/create(id = ${apartment.id})}"> Update </a></td>
            <td><a th:href="@{/apartments/delete/{id}(id = ${apartment.id})}" onclick="return confirm('Are you sure you want to delete this apartment?')"> Delete </a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>