<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create author</title>
</head>
<body>
    <h1>Create author</h1>
    <div>
        <div>Author data</div>
        <div>
            <form action="/authors" method="post">
                <div>
                    author first name: <input id="firstName" name="firstName">
                </div>
                <div>
                    author last name: <input id="lastName" name="lastName">
                </div>
                <div>
                    <button type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>