<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create car</title>
</head>
<body>
<h1>Create car</h1>
<div>
    <div>Car data</div>
    <div>
        <form action="/cars" method="post">
            <div>
                car model name: <input id="modelName" name="modelName">
            </div>
            <div>
                horse power: <input id="horsePower" name="horsePower">
            </div>
            <div>
                <button type="submit">Create</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>