<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create or edit user</title>
    <link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:text="${roles}"></div>
<div th:if="${read}"><p>Create user</p></div>
<div th:unless="${read}"><p>Update user</p></div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div>User data</div>
            <form action="#"
                  th:action="${read} == true ? @{/users} : @{/users/{id}(id = ${userModel.id})}"
                  th:object="${userModel}" method="post">
                <div th:replace="fragments/user :: details"></div>
            </form>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>
</body>
</html>