<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create or edit apartment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div th:if="${read}"><p>Create apartment</p></div>
<div th:unless="${read}"><p>Update apartment</p></div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div>Apartment data</div>
            <form action="#"
                  th:action="${read} == true ? @{/apartments} : @{/apartments/{id}(id = ${apartmentModel.id})}"
                  th:object="${apartmentModel}" method="post">
                <div th:replace="fragments/apartment :: details"></div>
            </form>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>

<!--
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
-->
</body>
</html>